.cart-container{
    
}
.cart-left{
    /*margin-left: 50px;
    */position:fixed ;
    width: 100%;
    border:2px solid #00a1fff5;
    background-color: rgb(189, 223, 0);
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
}
.prousctTotal{
    margin: 15px;
    text-align: left;
}