.shop-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.product-container{
    border-right: 2px solid lightgrey;
}
.InputFild{
    background-color: rgb(66, 66, 66);
    height: 40px;
}
.Search-bar{
    width: 50%;
    margin-top: 6px;
    height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}